.listing {
  background-color: #fff;
  border-radius: 5px;
}

.listing__logo {
  transform: translateY(-20px);
  width: 50px;
  height: 50px;
}

@media only screen and (min-width: 768px) {
  .listing__logo {
    transform: translateY(0);
  }
}

.listing__company {
  color: hsl(180, 29%, 50%);
  font-size: 16px;
  display: inline-block;
}

.listing__new,
.listing__featured {
  display: inline-block;
  background: #ccc;
  font-size: 12px;
  margin: 0 0.5rem;
  padding: 0.45rem;
  border-radius: 20px;
  color: #fff;
  font-weight: bold;
}

.listing__new {
  background-color: hsl(180, 29%, 50%);
}

.listing__featured {
  background-color: hsl(180, 14%, 20%);
}

.listing__position {
  margin: 0.5rem 0;
}
.listing__details,
.listing__tags {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listing__details li {
  display: inline-block;
  margin: 0.25rem;
  color: hsl(180, 8%, 52%);
  font-size: 14px;
}

.listing__tags li {
  display: inline-block;
  margin: 0.25rem;
  background-color: hsl(180, 52%, 96%);
  color: hsl(180, 29%, 50%);
  font-weight: bold;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
}
